blind_cameras_dataset/drdf_arrays_B.pkl
blind_cameras_dataset/drdf_arrays.pkl
blind_cameras_dataset/blinded.npy
blinded.pdf
blinded_filtered.pdf
blinded_2.pdf
blind_cameras_dataset/blinded_filtered.npy
blind_cameras_dataset/inner_ph.npy
blind_cameras_dataset/simulation.npy
cnn.pdf
nn.pdf
model.json
model_highRoc.json
model.h5
model_highRoc.h5
model_gen.json
model_gen.h5
model_3Conv.json
model_3Conv.h5
cnn_best.pdf
cnn_norm.pdf
cnn_Robust+Norm.pdf
cnn_90.pdf
cnn_pde.pdf
model_plot.png
plot_classification_norm.png
plot_data_distribution.png
plot_classification_robust+norm.png
plot_hist_classification.png
plot_hist_classification_pixel.png
blind_cameras_dataset/simulation_25.npy
blind_cameras_dataset/simulation_1.npy
blind_cameras_dataset/simulation_0.npy
blind_cameras_dataset/inner_ph_25.npy
blind_cameras_dataset/inner_ph_1.npy
blind_cameras_dataset/inner_ph_0.npy
cnn_1p2.pdf
blind_cameras_dataset/inner_ph_1_old.npy
blind_cameras_dataset/simulation_1_old.npy
plot_hist_classification_pixel_mod1_inv12.png
plot_data_distribution1p2.png
model1.png
model1_plot.png
model1_inv12.png
lot_hist_classification_mod1_inv12.png
cnn_1p2_100.pdf
cnn_auc.pdf
cnn_f1_3_1.pdf
cnn_f1_3_2.pdf
cnn_f1_3_3.pdf
cnn_f1_3_4.pdf
cnn_f1_3.pdf
cnn_f1_score_1.pdf
cnn_f1.pdf
cnn_f1Score.pdf
CNN_performances.txt
supervised_cnn_1.ipynb
dazzled_cameras_dataset/inner_ph_0.npy
dazzled_cameras_dataset/inner_ph_1.npy
dazzled_cameras_dataset/inner_ph_2.npy
dazzled_cameras_dataset/inner_ph_3.npy
dazzled_cameras_dataset/inner_ph_11.npy
dazzled_cameras_dataset/inner_ph_22.npy
dazzled_cameras_dataset/inner_ph_25.npy
dazzled_cameras_dataset/inner_ph_33.npy
dazzled_cameras_dataset/old/inner_ph_0.npy
dazzled_cameras_dataset/old/inner_ph_1.npy
dazzled_cameras_dataset/old/inner_ph_1_old.npy
dazzled_cameras_dataset/old/inner_ph_2.npy
dazzled_cameras_dataset/old/inner_ph_25.npy
dazzled_cameras_dataset/simulation_0.npy
dazzled_cameras_dataset/simulation_1.npy
dazzled_cameras_dataset/simulation_2.npy
dazzled_cameras_dataset/simulation_3.npy
dazzled_cameras_dataset/simulation_11.npy
dazzled_cameras_dataset/simulation_22.npy
dazzled_cameras_dataset/simulation_25.npy
dazzled_cameras_dataset/simulation_33.npy
dazzled_cameras_dataset/old/simulation_1_old.npy
dazzled_cameras_dataset/old/drdf_arrays.pkl
dazzled_cameras_dataset/old/drdf_arrays_B.pkl
dazzled_cameras_dataset/old/blinded.npy
dazzled_cameras_dataset/old/blinded_filtered.npy
plot_classification_auc.png
plot_classification_f1Score_1.png
plot_classification_f1Score_2.png
plot_classification_f1Score.png
plot_data_distribution_5percent.png
plot_hist_classification_f1_score_BEST.png
plot_hist_classification_f1_score.png
plot_hist_classification_pixel_f1_score_BEST.png
plot_hist_classification_pixel_f1_score.png
ratio.png
preprocessing.ipynb
preprocessing.py
supervised_cnn_1.ipynb
preprocessing.ipynb
sensors2npy.py
drdf2npy.py
unsupervised_learning.ipynb
