blind_cameras_dataset/drdf_arrays_B.pkl
blind_cameras_dataset/drdf_arrays.pkl
blind_cameras_dataset/blinded.npy
blinded.pdf
blinded_filtered.pdf
blinded_2.pdf
blind_cameras_dataset/blinded_filtered.npy
blind_cameras_dataset/inner_ph.npy
blind_cameras_dataset/simulation.npy
cnn.pdf
nn.pdf
model.json
model_highRoc.json
model.h5
model_highRoc.h5
model_gen.json
model_gen.h5
model_3Conv.json
model_3Conv.h5
cnn_best.pdf
cnn_norm.pdf
cnn_Robust+Norm.pdf
cnn_90.pdf
cnn_pde.pdf
model_plot.png
plot_classification_norm.png
plot_data_distribution.png
plot_classification_robust+norm.png
plot_hist_classification.png
plot_hist_classification_pixel.png
blind_cameras_dataset/simulation_25.npy
blind_cameras_dataset/simulation_1.npy
blind_cameras_dataset/simulation_0.npy
blind_cameras_dataset/inner_ph_25.npy
blind_cameras_dataset/inner_ph_1.npy
blind_cameras_dataset/inner_ph_0.npy
