blind_cameras_dataset/drdf_arrays_B.pkl
blind_cameras_dataset/drdf_arrays.pkl
blind_cameras_dataset/blinded.npy
blinded.pdf
blinded_filtered.pdf
blinded_2.pdf
blind_cameras_dataset/blinded_filtered.npy
blind_cameras_dataset/inner_ph.npy
blind_cameras_dataset/simulation.npy
cnn.pdf
nn.pdf
model.json
model_highRoc.json
model.h5
model_highRoc.h5
model_gen.json
model_gen.h5
model_3Conv.json
model_3Conv.h5
cnn_best.pdf
cnn_norm.pdf
